.login-form-container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;

  height: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .login-form-container {
    margin: 300px;
    margin-top: 30px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.username-input-field {
  margin-top: 10px;
}
.login-button {
  margin-top: 40px;
  color: white;
  background-color: yellowgreen;
  border-radius: 10px;
  border: none;

  padding: 10px;
  width: 70px;
}
